@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-divider {
    @apply h-[1px] w-36 bg-primary  mb-16 mx-auto;
  }

  .divider {
    @apply h-[1px] w-full my-10 bg-primary;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

.hero-section::before,
.hero-section::after {
  content: "";
  position: absolute;
}

.hero-section::before {
  top: 49%;
  left: 0;
  width: 195px;
  height: 504px;
  @apply bg-desktop-header-left bg-left bg-no-repeat hidden md:block;
}

.hero-section::after {
  top: 135%;
  right: 0;
  width: 124px;
  height: 330px;
  @apply bg-mobile-header-right bg-left bg-no-repeat block md:hidden;
}

[aria-expanded="false"] .dropdown-icon-close,
[aria-expanded="true"] .dropdown-icon-open {
  display: none;
}

[aria-expanded="true"] .dropdown-icon-close,
[aria-expanded="false"] .dropdown-icon-open {
  display: block;
}
